* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

/* Backgroud of the bar */
#waybar {
    background: transparent;
    color: white;
}

tooltip {
	background: #282828;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #262626;
}

#workspaces button {
    padding: 5px 10px;
    color: #d79921;
}

#workspaces button.focused {
    color: #282828;
    background-color: #d79921;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #282828;
    background-color: #458588;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: #d79921;
	color: #282828;
	border-radius: 15px;
}

#custom-keyboard-layout, #custom-updates, #custom-power, #custom-date, #clock, #pulseaudio, #network, #sway-language, #battery{
	background-color: #282828;
    color: #fbf1c7;
	padding: 5px 15px;
	margin: 5px 0px;
    border-radius: 7px;
}

#network {
	color: #458588;
}

#pulseaudio {
	color: #b16286;
}

#clock {
	color: #689d6a;
}

#custom-power {
	color: #cc241d;
}

#custom-updates {
	color: #282828;
}
